html {
  font-family: "Public Sans", sans-serif;
}

main {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.pinturas {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.pinturas .pintura {
  width: 351px;
  height: 431px;
  position: relative;
}

.pinturas .pintura img {
  width: 100%;
}

.pinturas .pintura .informacao {
  position: absolute;
  color: #ffffff;
  bottom: 30px;
  left: 20px;
}

.pinturas .pintura .informacao .titulo {
  font-size: 30px;
  margin-bottom: 8px;
}
.pinturas .pintura .informacao .subtitulo {
  font-size: 17px;
  font-weight: 300;
}
